p {
  font-size: 1.2rem;
  line-height: 2.1rem;
  max-width: 80rem;
}

input[type="range"] {
  width: 30vw;
}

.slider-container {
  padding: 1rem;
}

.text-highlight {
  border-bottom: 1px rgb(201, 201, 201) solid;
  padding: 0.1rem;
}

.chapter-intro {
  font-size: 2rem;
  border-bottom: 1px rgb(201, 201, 201, 0.7) solid;
}

.display-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.horizontal-display-container {
  display: flex;
  justify-content: space-evenly;
}