.text-highlight {
  border-bottom: 1px rgb(201, 201, 201) solid;
  padding: 0.1rem;
}

.chapter-intro {
  font-size: 2rem;
  border-bottom: 1px rgb(201, 201, 201, 0.7) solid;
}

.canvas-container {
  display: flex;
  flex-direction: column;
}

.canvas-container > canvas {
    align-self: center;
}